@import models.post.Post
@(posts: List[Post])
@main("Jindo") {
    <h2>Posts</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-12 blog-main">

                @if(!posts.isEmpty) {
                    @posts.map { post =>
                    <div class="blog-post">
                        <h2 class="blog-post-title"><a href =@{"/post/" + post.id.toString}>@post.title</a></h2>
                    </div>
                    }
                } else {
                    <p>Not have any post</p>
                        }
            </div>
        </div>
    </div>
}

